<!doctype html>
<html>
    <head>
        <title>StreamVideo</title>  
    </head>
    <body style="background-color:ghostwhite">
        <div style="text-align:center;padding-top:20px;margin-top:20%">Welcome TO StreamVideo</div>
        <a href="/login" style="position:absolute;top:50%;left:48%"><button type="button" style="background-color:rgb(75, 74, 77);border:none;color:#fff">Login</button></a>
        <a href="/register" style="position:absolute;top:55%;left:47.5%"><button type="button" style="background-color:rgb(75, 74, 77);border:none;color:#fff">Register</button></a>
        </div>

    
    </body>
    <style>
        .main_content{
            background-color: rgb(75, 74, 77);
            height:500px;
            width:500px;
            margin-left:35%;
            margin-top:10%;
        }
    </style>
</html>